.line-top {
    width: 800px;
    opacity: 0.2;
    border: solid 1px #979797;
}

.course-list-row {
    text-align: center;
}

button.delete,
button.edit
 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;  
    outline: none;  

}

.course-form-title {
    padding: 50px 0px 0px 0px;
    text-align: center;
}

.page-number {
    margin:30px auto;

}


ul.pagination {

    display: inline-block;
    padding: 0;
    margin: 0px auto;
}

ul.pagination li {display: inline;}

.pagination-li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}