@import '../../theme/theme.scss';

.menu-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color:$primary-color-grey;

    &:hover {
        color: $primary-color-dark;
        text-decoration: none;
    }
}
