footer {
  bottom: 0;
  text-align: center;
  background-color: antiquewhite;
  margin-top: 100px;
}

footer p{
  margin: 10px;
}

.nav-button{
  background-color: white;
  margin: 5px;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px 20px;
}

.nav-button p{
  color: black;
  margin: 0%;
}

.jumbotron{
  background-color: white;
}

.jumbotron h1{
  font-size: 25px;
}

.section-container{
  margin-top: 100px; 
}

.course-card-img {
  width: 100%;
}