.line-top {
    width: 800px;
    opacity: 0.2;
    border: solid 1px #979797;
}

.course-list-row {
    text-align: center;
}

.edit-button{
    margin: 0 10px 10px 0;
    background-color: white;
    padding: 5px 7px 5px 7px;
    border: solid black 1px;
    border-radius: 5px;
    &:hover{
        color: white;
        background-color: black;
    }
}

.course-form-title {
    padding: 50px 0px 0px 0px;
    text-align: center;
}

.page-number {
    margin:30px auto;

}

