.signup-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup-container {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    width: 500px;
    height: 650px;

    .content {
        margin: 20px 5px 0px 5px;
    }

    img {
        display: block;
        margin: 20px auto 20px auto;
        width: 40px;
        height: 40px;
      }
    
      h5 {
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
      }
    
      .options {
        display: flex;
        justify-content: space-between;
      }
    
    .description-box{
        width: 100%;
        
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.05);
    }
      #signup {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        button {
          border: none;
          width: 30%;
          height: 20%;
          font-size: 16px;
          background: url("../../resource/img/log-in.png") no-repeat;
          background-size: 100% 100%;
          margin-top: 10px;
          &:hover {
            font-weight: bold;
            background: url("../../resource/img/log-in-hover.png") no-repeat;
            background-size: 100% 100%;
          }
        }
      }

      .role-not-selected {
        width: 45%;
        border-style: solid;
        border-radius: 5px;
        padding: 3px 15px;
        background-color: white;
      }
      .role-selected {
        width: 45%;
        border-style: solid;
        border-radius: 5px;
        border-width: bold;
        padding: 3px 15px;
        background-color: white;
      }      
      .spinner-location {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
  }

  .closeButton {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }


}

.overlay {
  background: white;
  pointer-events: none;
  opacity: 0.5;
}
