@import '../../../theme/theme.scss';

.dash-menu {
    text-align: center;
    margin-top: 5%;
    .row {
        .col-md{
            background: url('../../../resource/img/section-title-background.svg') no-repeat center;
        }
    }
    .menu-container{
            .menu-button{
                margin: 5% 0 10% 0;
                padding: 0 0 10px 0;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 5px;

                img{  
                    width: 80px;
                    height: 80px;
                    margin: 10% 0 10% 0;
                }

                .link-style-active{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    opacity: 1;
                }

                .link-style-inactive{
                    text-decoration: none;
                    color: rgb(132, 132, 132);
                    opacity: 0.6;
                }

                .chosen {
                    text-decoration: none;
                    color: rgb(8, 8, 8);   
                    font-size: large;  
                    img{  
                        opacity: 1;
                    }
                }
       
                &:hover, &:active{
                    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
    }
}
